body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Button {
  border: 1px solid rgb(79, 165, 252);
  font: inherit;
  margin: 5px 0;
  padding: 8px;
  background-color: rgb(79, 165, 252);
  color: white;
  cursor: pointer;
}

.Button:hover,
.Button:active {
  background-color: dodgerblue;
}
